@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext,cyrillic);
textarea {
  resize: none; }

body {
  font-family: "PT Sans", arial, sans-serif;
  color: #0c0c0c;
  background: grey; }

div {
  box-sizing: border-box; }

.container {
  width: 460px;
  height: 424px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  .container__inside {
    width: 458px;
    height: 354px;
    margin: 0px auto;
    position: relative; }
    .container__inside:after {
      display: block;
      content: '';
      position: absolute;
      width: 465px;
      height: 35.3333%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.7);
      border-bottom: 2px solid #000; }
    .container__inside:before {
      display: block;
      content: '';
      position: absolute;
      width: 465px;
      height: 32.3333%;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      border-top: 2px solid #000; }

#field {
  border: 8px solid #333;
  display: block;
  margin: 0px auto;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.7); }

.btn {
  width: 100px;
  height: 50px;
  display: table;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  background: #333;
  color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear; }
  .btn span {
    display: table-cell;
    vertical-align: middle; }

.normal {
  background: url("../img/sword.png") no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  -webkit-transform: scale(1, -1) rotate(135deg);
          transform: scale(1, -1) rotate(135deg);
  box-shadow: none;
  border: none;
  position: absolute;
  right: -250px;
  top: 20px;
  z-index: -1; }
  .normal:hover {
    -webkit-transform: scale(1, -1) rotate(135deg) translateX(20px) translateY(20px);
            transform: scale(1, -1) rotate(135deg) translateX(20px) translateY(20px); }

.hack {
  display: none;
  opacity: 0; }
  .hack:hover {
    background: #1a1a1a; }

.win {
  position: absolute;
  width: 100%;
  height: 33.3333%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  overflow: hidden; }
  .win__item {
    width: 33.3333%;
    float: left;
    opacity: 0; }
    .win__item img {
      width: 80%;
      height: 100%;
      display: block;
      margin: 5px auto 0px auto; }

.lose {
  position: absolute;
  width: 100%;
  height: 33.3333%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  overflow: hidden; }
  .lose__item {
    width: 33.3333%;
    float: left;
    opacity: 0; }
    .lose__item img {
      width: 80%;
      height: 100%;
      display: block;
      margin: 5px auto 0px auto; }

.animation-win {
  -webkit-animation: cd-rotate-1-in 1.7s;
  animation: cd-rotate-1-in 1.7s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  opacity: 1; }

.animation-lose {
  -webkit-animation: cd-rotate-1-in 1.7s;
  animation: cd-rotate-1-in 1.7s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  opacity: 1; }

@-webkit-keyframes cd-rotate-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.4); }
  35% {
    opacity: 1;
    -webkit-transform: translateY(-10%) scale(0.4); }
  65% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: rotateX(360deg); } }

@keyframes cd-rotate-1-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.4);
            transform: translateY(-50%) scale(0.4); }
  35% {
    opacity: 1;
    -webkit-transform: translateY(-10%) scale(0.4);
            transform: translateY(-10%) scale(0.4); }
  65% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg); } }
